# Dependencies
node_modules
.pnpm-store

# Production Build Output
dist
dist-ssr
build

# Vercel Deployment & Local Config
.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.p12
loti-cb95f-c05c8618fd54.p12

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Agent execution files
.agents/

